#center{
    padding : 2%; 
    width : 75%;
    background-color: #eccd69;
    margin: auto;
    height:100vh;
}
#existing{
    background-color: #e5c250;
    padding:2%;
}
#newForm{
    background-color: #e5ba2d;
    padding:2%;
	border: 2px solid black;
}
#newTask{
    background-color: #e0ae0b;
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    padding:2%;
}
#newQuestion{
    background-color:#edb602;
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    padding:2%;
}


/* BUTTONS */
.addQuestionButton{
	display:block;
}
.removeButton{

}

}
/* END BUTTONS */


.task{
	border:1px solid #777;
	border-radius:16px;
	padding:7px;
	margin:5px;
}
.question{
	border:1px solid #333;
	border-radius:16px;
	padding:7px;
	margin-bottom: 5px;
}
.task > div{
	margin-bottom: 5px;
}