body{
	padding:0;
	margin:0;
	font-family: 'Roboto', sans-serif;
}
main{	
	padding-left:6%;
	padding-right:6%;
    background-color: #4abdac;
    height:100%;
}
#existing{
    background-color: #e5c250;
    padding:2%;
}
.formCss{
    background-color: white;
    padding:2%;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
	/*! border: 2px solid black; */
    border-radius: 10px;
}
#newTask{
    background-color: #e0ae0b;
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    padding:2%;
}
#newQuestion{
    background-color:#edb602;
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    padding:2%;
}


/* BUTTONS */
.addQuestionButton{
	display:block;
}
.removeButton{

}
/* END BUTTONS */


.application{
	/*! border:1px solid #777; */
	border-radius:16px;
	padding:7px;
	/*! margin:25px; */
	/*! background-color:#FF9900; */ 
}
.questionPre, .questionPost, .FSQuestionCustom{
	padding:7px;
	margin-bottom: 5px;
	width: 100%;
}
.application > div{
	margin-bottom: 5px;
}
#applications{
	/*! border:1px solid #333; */
	border-radius:16px;
	/*! padding : 7px; */
	margin-bottom: 5px;
}

.answerArea{
	display: flex;
	text-align: center;
	justify-content: space-around;
	flex-wrap: wrap;
	
}

.answerArea >div{
    display: flex;
    flex-direction: column-reverse;
    margin:10px;
}

.answerIcon{
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	width: 60px;
}

.answerArea >div>label{
	 
	display: flex;
	flex-direction: column-reverse;
}

.answerArea>div>input{
	margin-left: auto;
	margin-right: auto;
}

.field{
	border:1px solid #F77;
	border-radius:16px;
	padding:7px;
	margin:5px;
}

.imgDisplayer{
	max-width: 96px;
	max-height: 80px;
	float: right;
	margin: 0 0 10px 10px;
}

#signIn{
	display: flex;
}
#passwordVerif,#nicknameVerif{
	font-size: 75%;
}
/*
img{
	max-height:112px;
	max-width:112px;
}*/

/* FOOTER */

@keyframes blink{
	0%   {background-color:purple;left:0px; bottom:0px;}
    25%  {background-color:yellow; left:1000px; bottom:0px;}
    50%  {background-color:blue; left:0px; bottom:200px;}
    75%  {background-color:green; left:1000px; bottom:200px;}
    100% {background-color:red; left:0px; bottom:0px;}
}


footer{
	display:flex;
	position:absolute;
	min-height:40px;
	
	animation-name: blink;
    animation-duration: 3s;
	animation-iteration-count: infinite;
}
footer > * {	
	margin:auto;
}
/* END FOOTER */

/* HEADER */
header{
	display:flex;
}

header > *{
	flex:1;
}
.menu-buttons{
	display:flex;
	flex:2;
}
.menu-buttons > *{
	flex:1;
	margin:auto;
}
/* END HEADER */

table{
	width:100%;
	border-collapse:collapse;
}
table td{
	text-align:center;
	border: 1px solid black;
	height: 40px;
	overflow: auto;
}
table th{
	border: 2px solid black;
	height: 40px;
}

/* Again Again Table && Fun Sorter*/

#FunSorter div{
	width: 30px;
	border: 2px solid #c5c2c2;
	margin: auto;
	border-radius: 5px;
	background-color: #c5c2c2;
}
.radioButtonFS{
	width: 30px;
}

/*last add*/

.application > div{
	display: flex;
	flex-direction: column;

}

.question{
	display: flex;
	flex-direction: column;
}

.application h2 {
	align-self: center;
	/*! border-top : solid black 1px; */
	/*! border-bottom : solid black 2px; */
	width: 105%;
	background-color: #0084FF;
	color : white;
	text-indent: 2%;
	box-shadow: 0px 9px 22px -11px rgba(0,0,0,0.51);
	border-radius: 7px;
}

#userInformation{
	display: flex;
	flex-direction: column;	
}

#userInformation >div{
	margin :10px;
	
}

/*create form properties*/
.appCreationTitle{
  align-self: center;
width: 100%;
background-color: #0084FF;
color: white;
text-indent: 2%;
border-radius: 7px;
box-shadow: 0px 9px 22px -11px rgba(0,0,0,0.51);
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 25px
}

.questionPreDiv, .questionPostDiv {
	border-top: solid 2px #0084FF;
  margin-top: 15px;
  padding-top: 15px;
}

.questionPre:not(:last-child), .questionPost:not(:last-child){
	border-bottom: dashed 1px #0084FF;
	
}

.addQuestionButton{
	width: 300px;
}